# https://wiki.archlinux.org/index.php/Map_scancodes_to_keycodes#Example_for_custom_hwdb
#  https://wiki.archlinux.org/index.php/Extra_keyboard_keys#Using_evtest
#  https://hal.freedesktop.org/quirk/quirk-keymap-list.txt
evdev:input:b0019v17AAp5054* # was tested on Lenovo X1 Carbon 5th Gen Thinkpad Exta Buttons (thinkpad_acpi)
 KEYBOARD_KEY_49=playpause  # bind keyboard to playpause
 KEYBOARD_KEY_45=nextsong # bind favourite to nextsong
