COMPOSE_PROJECT_NAME={{ compose_project_name }}
DOMAIN_NAME={{ domain_name }}
EMAIL_ADDRESS={{ email_address }}
GMVAULT_EMAIL_ADDRESS={ email_address }
LETSENCRYPT_EMAIL={ email_address }
LETSENCRYPT_HOST_PRIVATE={ letsencrypt_host_private }
LETSENCRYPT_HOST_PUBLIC={ letsencrypt_host_public }
OAUTH2_CLIENT_ID={{ oauth2_client_id }}
OAUTH2_CLIENT_SECRET={{ oauth2_client_secret }}
OAUTH2_COOKIE_SECRET={{ oauth2_cookie_secret }}
OPENVPN_CONFIG={{ openvpn_config }}
OPENVPN_PASSWORD={{ openvpn_password }}
OPENVPN_PROVIDER={{ openvpn_provider }}
OPENVPN_USERNAME={{ openvpn_username }}
PLEX_LOGIN={ plex_login }
PLEX_PASSWORD={ plex_password }
SAMBA_USER1={{ samba_user1 }}
SAMBA_USER2={{ samba_user2 }}
SMTP_GMAIL_PASSWORD={{ smtp_gmail_password }}
SMTP_GMAIL_USER={{ smtp_gmail_user }}
SMTP_MAILNAME={{ smtp_mailname }}
VIRTUAL_HOST_PRIVATE={ virtual_host_private }
VIRTUAL_HOST_PUBLIC={ virtual_host_public }
