COMPOSE_PROJECT_NAME={{ compose_project_name }}
LETSENCRYPT_EMAIL={{ letsencrypt_email }}
LETSENCRYPT_HOST={{ letsencrypt_host }}
OPENVPN_CONFIG={{ openvpn_config }}
OPENVPN_PASSWORD={{ openvpn_password }}
OPENVPN_PROVIDER={{ openvpn_provider }}
OPENVPN_USERNAME={{ openvpn_username }}
PLEX_LOGIN={{ plex_login }}
PLEX_PASSWORD={{ plex_password }}
SAMBA_USER1={{ samba_user1 }}
SAMBA_USER2={{ samba_user2 }}
VIRTUAL_HOST={{ virtual_host }}
