events {
  worker_connections 1024;
}

http {
  server {
    listen 80;

    server_name localhost public.{{ domain_name }};

    location /sickrage/calendar {
      proxy_pass http://sickrage:8081/calendar;
    }

    location /radarr/calendar {
      add_header Content-Type text/plain;

      proxy_pass http://radarr:7878/feed/calendar/Radarr.ics?apikey={{ radarr_apikey }};
    }
  }
}
