<html>
<pre>

▓█████  ███▄    █   ▄████  ██▓ ███▄    █ ▓█████  ██▀███   ▒█████   ▒█████   ███▄ ▄███▓
▓█   ▀  ██ ▀█   █  ██▒ ▀█▒▓██▒ ██ ▀█   █ ▓█   ▀ ▓██ ▒ ██▒▒██▒  ██▒▒██▒  ██▒▓██▒▀█▀ ██▒
▒███   ▓██  ▀█ ██▒▒██░▄▄▄░▒██▒▓██  ▀█ ██▒▒███   ▓██ ░▄█ ▒▒██░  ██▒▒██░  ██▒▓██    ▓██░
▒▓█  ▄ ▓██▒  ▐▌██▒░▓█  ██▓░██░▓██▒  ▐▌██▒▒▓█  ▄ ▒██▀▀█▄  ▒██   ██░▒██   ██░▒██    ▒██ 
░▒████▒▒██░   ▓██░░▒▓███▀▒░██░▒██░   ▓██░░▒████▒░██▓ ▒██▒░ ████▓▒░░ ████▓▒░▒██▒   ░██▒
░░ ▒░ ░░ ▒░   ▒ ▒  ░▒   ▒ ░▓  ░ ▒░   ▒ ▒ ░░ ▒░ ░░ ▒▓ ░▒▓░░ ▒░▒░▒░ ░ ▒░▒░▒░ ░ ▒░   ░  ░
 ░ ░  ░░ ░░   ░ ▒░  ░   ░  ▒ ░░ ░░   ░ ▒░ ░ ░  ░  ░▒ ░ ▒░  ░ ▒ ▒░   ░ ▒ ▒░ ░  ░      ░
   ░      ░   ░ ░ ░ ░   ░  ▒ ░   ░   ░ ░    ░     ░░   ░ ░ ░ ░ ▒  ░ ░ ░ ▒  ░      ░   
   ░  ░         ░       ░  ░           ░    ░  ░   ░         ░ ░      ░ ░         ░   

</pre>
<ul>
<li><a href="https://calibre.private.{{ domain_name }}">calibre</a></li>
<li><a href="https://fava.private.engineroom.cewood.xyz">fava</a></li>
<li><a href="https://medusa.private.engineroom.cewood.xyz/">medusa</a></li>
<li><a href="https://mikrotik.private.{{ domain_name }}">mikrotik</a></li>
<li><a href="https://moinmoin.private.engineroom.cewood.xyz">moinmoin</a></li>
<li><a href="https://app.plex.tv/">plex</a></li>
<li><a href="https://transmission.private.{{ domain_name }}">transmission</a></li>
</ul>
</html>
